In [2]:
a = 10
print(a)

10

In [3]:
a = 10              #integer (int)
b = 10.5            #float
c = "Hello World"   #str (string)
d = True           #bool

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

#1aa 10 we can not use numbers and special characters at starting of variables
#a.(we cannot use special character at starting and ending and between the variables between the  will not be acceptable)
#a_ = 10 (will be acceptable)
hello = 10
hello_world = 10

In [4]:
#type() (to identify the data)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
a = 'hello'
b = "hello world"
c = '''hell world'''
print(a)
print(b)
print(c)

hello
hello world
hell world

In [ ]:
a = "12$% apple'"
print(a)

In [3]:
a = '''12%^ apple"'''
print(a)

12%^ apple"

In [2]:
a = True
b = False
print(a)
print(b)

True
False

In [25]:
a = "10"
print(a)

10

In [30]:
#operatrs
# + - * / ** // %

In [34]:
a = 10 # '=' is assignment operator, variables used with operators is operand
b = 20
c = a + b
print(c)

30

In [32]:
a = 10
b = 3
c = a / b
print(c)

3.3333333333333335

In [35]:
a = 10
b = 3
c = a ** b # a variable cube or square (to the power)
print(c)

1000

In [36]:
a = 10
b = 3
c = a // b      #flood divison (number after the decimal is not taken)
print(c)

3

In [37]:
#modulus
a = 10
b = 3
c = a % b  #remainder is only shown
print(c)

1

In [4]:
#string concantation
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [5]:
a = "Hello World\n" #print in next line
print(a*2) #times you want a word to be repeated

Hello World
Hello World

In [6]:
name = "Lonima"
info= "Hello World I am  " + name
info

'Hello World I am  Lonima'

In [9]:
#bool is either true or false
a = True
b = False
c = a + b
print(c)

1

In [10]:
#bool is either true or false
a = True # true = 1
b = False #false = 0
c = a * b
print(c)

0

In [12]:
#complex number (+ - * /), j = (-1) **(1/2) 
a = 2 + 3j # j always defines complex number
type(a)

complex

In [7]:
a = "10"
b = "20"
print(a+b)

1020

In [14]:
#type casting
#int() float() str() bool()

In [15]:
#string converted into integer
a = "10"
b = int(a) 
b

10

In [16]:
#string with decimal cannot be  converted into integer however can be converted into float
a = "10.5"
b = float(a) 
b

10.5

In [19]:
#converting integer or float into srting
a = 10
b = str(a)
b

'10'

In [20]:
#converting integer or float into srting
a = 10.5
b = str(a)
b

'10.5'

In [2]:
#int to bool (only zero = false everything else is true)
a = 0.5
bool(a)

True

In [24]:
a= "Hello"
bool(a)

True

In [25]:
a = ""
bool(a)

False

In [26]:
#Basic IO operation

In [3]:
a = input()
print(a)

Hello World
Hello World

In [40]:
a = input ("Enter a = ")
print(a)

Enter a = lonima
lonima

In [9]:
a = input ("Enter a = ")
print(a)
type(a)

Enter a = 98744
98744

str

In [11]:
a = int(input("Enter a ="))
print(a)
type(a)

Enter a =10
10

int

In [5]:
a = float(input("Enter a number="))
print(a)
type(a)

Enter a number=10
10.0

float

In [11]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)
# print("Hello World, I am " + name + ". I am from " + add + ". I am " + str(age)+" years of age.")

Enter name = Ram
Enter age = 32
Enter add = putalisadak
Hello World I am Ram I am from putalisadak I am 32

In [12]:
p = int(input("Enter p ="))
t = float(input("Enter t = "))
r = float(input("Enter r ="))

i = p*t*r/100
print("The value of i =",i)
#print("The vallue of i = ", p*t*r/100)

Enter p =10
Enter t = 20
Enter r =30
The value of i = 60.0
The vallue of i =  60.0

In [ ]:
< >