In [ ]:
#Dict
#-Indexing
#-Multiple and duplicate data
#-ordered
#-Mutable

In [ ]:
#d = {}
#d = dict()

In [ ]:
#d = {<key>:<value>,<key>:<value>}

In [1]:
d = {'a': 'Apple', 'b':'Ball','c':'Cat','d':'Dog'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [3]:
d = {'a': 'Apple', 'b':'Ball','c':'Cat','d':'Dog'}
print(d['a'])
print(d['d'])

Apple
Dog

In [4]:
 d = {'a': 'Apple', 'b':'Ball','c':'Cat','d':'Dog'}
len(d)

4

In [6]:
 d = {'a': 'Apple', 'b':'Ball','c':'Cat','d':'Dog', 'a':'apple'} #if the same is given or defined, then the program takes up on the second value
print(d)

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [7]:
 d = {'a': 'Apple', 'b':'Ball','c':'Cat','d':'Dog', 'A':'Apple'} #ordered data type
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'A': 'Apple'}

In [ ]:
# no + and * sign is used inside curly bracket{}

In [9]:
 d = {'a': 'Apple', 'b':'Ball','c':'Cat','A':'Apple'}
e = {'d':'Dog'}
d.update(e) 
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple', 'd': 'Dog'}

In [10]:
# Creating Dictionary
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [14]:
info = {}
n = int(input("Enter the the value n ="))
for i in range(n):
    name = input("Enter name =")
    phone = input("Enter Phone = ")
    info[name] = phone
print(info)

Enter the the value n =2
Enter name =Ram
Enter Phone = 9874533644
Enter name =Sita
Enter Phone = 6657896554
{'Ram': '9874533644', 'Sita': '6657896554'}

In [15]:
#using for loop
d = {'Ram': '9874533644', 'Sita': '6657896554'}
for i in d:
    print(i)

Ram
Sita

In [16]:
d = {'Ram': '9874533644', 'Sita': '6657896554'}
for i in d.values():
    print(i)

9874533644
6657896554

In [17]:
d = {'Ram': '9874533644', 'Sita': '6657896554'}
for i in d.items():  #tuple is represented by small bracket
    print(i)

('Ram', '9874533644')
('Sita', '6657896554')

In [18]:
# Converting List into dictionary
d = [['Ram', 9801795778], 
    ['Shyam', 987463214856]]
dict(d)

{'Ram': 9801795778, 'Shyam': 987463214856}

In [19]:
# update in dictionary
d = {'Ram': 9801795778, 'Shyam': 987463214856}
d['Ram'] = 98017957897
print(d)

{'Ram': 98017957897, 'Shyam': 987463214856}

In [20]:
# Delete
d = {'Ram': 98017957897, 'Shyam': 987463214856}
del d['Ram']
print(d)

{'Shyam': 987463214856}

In [21]:
#Pop delete
d = {'Ram': 98017957897, 'Shyam': 987463214856}
e = d.pop('Ram')
print(d)
print(e)

{'Shyam': 987463214856}
98017957897

In [22]:
# list inside Dictionary
d = {'Ram':[987547899,78992478], 'Shyam': [987452159632,78945699]}
print(d)

{'Ram': [987547899, 78992478], 'Shyam': [987452159632, 78945699]}

In [26]:
info = {}
n = int(input("Enter the the value n ="))
for i in range(n):
    name = input("Enter name =")
    ntc_phone = input("Enter ntc Phone = ")
    ncell_phone = input("Enter ncell Phone = ")
    info[name] = [ntc_phone, ncell_phone]
print(info)

Enter the the value n =2
Enter name =Ram
Enter ntc Phone = 789521566
Enter ncell Phone = 589874566
Enter name =Shyam
Enter ntc Phone = 9854756563
Enter ncell Phone = 98754622
{'Ram': ['789521566', '589874566'], 'Shyam': ['9854756563', '98754622']}

In [27]:
#d ={'Ram': [987547899, 78992478], 'Shyam': [987452159632, 78945699]}
info['Shyam'][0]

'9854756563'

In [32]:
info = {}
d ={'name':['Ram','Shyam','Hari'],
   'age':[45,56,45],
   'add':['Kathmandu','Bhaktapur','Lalitpur']}
#for i in range(d):
   # info[name] = [age,add]
   # print(info)

TypeError: 'dict' object cannot be interpreted as an integer

In [38]:
d = { 'name':[],'age':[],'add':[]}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age ="))
    add = input("Enter add =")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
print(d)

Enter n =2
Enter name =Ram
Enter age =35
Enter add =Baluwatar
Enter name =Sita
Enter age =45
Enter add =Bharatpur
{'name': ['Ram', 'Sita'], 'age': [35, 45], 'add': ['Baluwatar', 'Bharatpur']}

In [41]:
c = 0
for i in d['name']:
    if i =="Ram":
        print(c)
    c = c+1

0

In [42]:
print(d['name'][0])
print(d['age'][0])
print(d['add'][0])

Ram
35
Baluwatar

In [43]:
c = 0
for i in d['name']:
    if i =="Ram":
        print(d['name'][0])
        print(d['age'][0])
        print(d['add'][0])
    c = c+1

Ram
35
Baluwatar