In [1]:
#File
# file = open('<file_name>','<modes>')
#file.close()

#with open('<file_name>','<modes>') as file:
#    <operations>
#Mode
#create-> x
#read -> r
#write -> w
# append-> a

In [2]:
#Creating a File
file = open('data.txt', 'x')
file.close()

In [3]:
# if the file having the same has been already there #exception handling
try:
    file = open('data.txt', 'x')
    file.close()
except:
    print("The file is already  there")

The file is already  there

In [6]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

1. Hello world
2. Hello world
3. Hello world
4. Hello world
5. Hello world
6. Hello world
7. Hello world

In [7]:
type(x)

str

In [11]:
y = x.split('\n')
y

['1. Hello world',
 '2. Hello world',
 '3. Hello world',
 '4. Hello world',
 '5. Hello world',
 '6. Hello world',
 '7. Hello world',
 '']

In [14]:
y[1]

'2. Hello world'

In [16]:
i = int(input("Enter i = "))
y[i-1]

Enter i = 5

'5. Hello world'

In [17]:
file = open('data1.txt','w')
file.write('Hello world')
file.close()

In [18]:
#WAP to create a billing system(product,price,qty,total, all_total)
bill =""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total =price*qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data

print(bill)

file =open('data1.txt','w')
file.write(bill)
file.close()

Enter n =3
Enter namecoke
Enter price5
Enter qty2
Enter namefanta
Enter price6
Enter qty7
Enter namesprite
Enter price5
Enter qty2
coke 5 2 10
fanta 6 7 42
sprite 5 2 10

In [19]:
file = open('data1.txt','r')
x = file.read()
print(x)
file.close()

coke 5 2 10
fanta 6 7 42
sprite 5 2 10

In [21]:
#append mode
bill =""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total =price*qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data

print(bill)

file =open('data1.txt','a')
file.write(bill)
file.close()

Enter n = 2
Enter name = pepsi
Enter price = 5
Enter qty = 7
Enter name = mountain dew
Enter price = 5
Enter qty = 7
pepsi 5 7 35
mountain dew 5 7 35

In [22]:
file = open('data1.txt','r')
x = file.read() #print(file.read())
print(x)
file.close() #file.close

coke 5 2 10
fanta 6 7 42
sprite 5 2 10
pepsi 5 7 35
mountain dew 5 7 35

In [24]:
y = x.split('\n') [0:-1]
y

['coke 5 2 10',
 'fanta 6 7 42',
 'sprite 5 2 10',
 'pepsi 5 7 35',
 'mountain dew 5 7 35']

In [25]:
#converting into list inside list format
for i in y:
    print(i)

coke 5 2 10
fanta 6 7 42
sprite 5 2 10
pepsi 5 7 35
mountain dew 5 7 35

In [26]:
for i in y:
    print(i.split())

['coke', '5', '2', '10']
['fanta', '6', '7', '42']
['sprite', '5', '2', '10']
['pepsi', '5', '7', '35']
['mountain', 'dew', '5', '7', '35']

In [27]:
bill = []
for i in y:
    bill.append(i.split())
bill

[['coke', '5', '2', '10'],
 ['fanta', '6', '7', '42'],
 ['sprite', '5', '2', '10'],
 ['pepsi', '5', '7', '35'],
 ['mountain', 'dew', '5', '7', '35']]

In [28]:
for i in y:
    print(i[-1])

0
2
0
5
5

In [30]:
s = 0
for i in bill:
    s = s+ int(i[-1])
s

132

In [33]:
#CSV(Comma separated value)- excel and spread sheet
#WAP to create a billing system(product,price,qty,total, all_total)
bill =""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total =price*qty
    data = f"{name},{price},{qty},{total}\n"
    bill = bill + data

print(bill)

file =open('data1.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter name = coke
Enter price = 60
Enter qty = 4
Enter name = Fanta
Enter price = 50
Enter qty = 5
coke,60,4,240
Fanta,50,5,250

In [34]:
import pandas as pd
df = pd.read_csv('data1.csv')
df

    Name  Price  Quantity  Total
0   coke     60         4    240
1  Fanta     50         5    250

In [32]:
pwd

'C:\\Users\\risha\\python class'