In [ ]:
# #Python Collection(how to store multiple data in a single variable)
# #list
# tuple
# dict
# set

In [ ]:
# List
# Indexing
# Mulitple Data
# Duplicate
# Mutable

In [ ]:
l = []
l = list()

In [1]:
a = [1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [5]:
a =["Apple", "Ball", "Cat", "Dog", "Fish"]
print(a[0])
print(a[0:4])
print(a[0:5:2])
print(a[-1])
print(a[-1:-

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']
Fish
[]

In [6]:
a =["Apple", "Ball", "Cat", "Dog", "Fish","Apple"]
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [10]:
a =[1,2,3]
b = [2]
c = a+b
print(c)

[1, 2, 3, 2]

In [12]:
a = [1,2,3]
b = 2
c = a * b
print(c)

[1, 2, 3, 1, 2, 3]

In [14]:
l = []
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x="))
    l = l + [x]
print(l)

Enter n =5
Enter x=123
Enter x=345
Enter x=450
Enter x=87
Enter x=345
[123, 345, 450, 87, 345]

In [16]:
l = [123, 345, 456, 87, 345]
print("the max value=",max(l))
print("the min value=",min(l))
print("The sum =", sum(l))

the max value= 456
the min value= 87
The sum = 1356

In [17]:
l.sort()
print(l)

[87, 123, 345, 345, 456]

In [18]:
l.reverse()
print(l)

[456, 345, 345, 123, 87]

In [19]:
# add values
#append() insert() extend()

#delete values
#del remove() pop()

In [21]:
a =["Apple", "Ball", "Cat", "Dog", "Fish","Apple"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish
Apple

In [22]:
for i in range(len(a)):
    print(a[i])

Apple
Ball
Cat
Dog
Fish
Apple

In [24]:
a = ["Ram", "Shyam","Hari", "Sita","Nabin","Ramesh"]
if "Ram" in a:
    print("yes")
    print(a.count("Ram"))
else:
    print('no')

yes
1

In [25]:
# Write a program to search any value in a list have case insensitive

In [26]:
#append ()
a = []
a.append("Apple")
a.append("Ball")
print(a)

['Apple', 'Ball']

In [27]:
a = [1,2,3,4,5]
a.append("Apple")
a.append("Ball")
print(a)

[1, 2, 3, 4, 5, 'Apple', 'Ball']

In [28]:
# insert()
a = ['Apple', 'Ball','CAT','Fish','Egg']
a.insert(2,"Can")
print(a)

['Apple', 'Ball', 'Can', 'CAT', 'Fish', 'Egg', 'Ball']

In [30]:
#extend()
a = ['Apple', 'Ball','CAT','Fish','Egg']
b = [1,2,3,4]
a.extend(b)
print(a)

['Apple', 'Ball', 'CAT', 'Fish', 'Egg', 1, 2, 3, 4]

In [31]:
#update
a = ['Apple', 'Ball','CAT','Fish','Egg']
a[0]= "Ant"
print(a)

['Ant', 'Ball', 'CAT', 'Fish', 'Egg']

In [32]:
a = ['Apple', 'Ball','CAT','Fish','Egg']
a[0]= "Ant"
a[0:3]

['Ant', 'Ball', 'CAT']

In [ ]:
#delete
#del remove()pop()

In [1]:
a = ['Apple', 'Ball','CAT','Fish','Egg']
del a[0]
print(a)

['Ball', 'CAT', 'Fish', 'Egg']

In [2]:
a = ['Apple', 'Ball','CAT','Fish','Egg']
del a[0:3]
print(a)

['Fish', 'Egg']

In [3]:
a = ['Apple', 'Ball','CAT','Fish','Egg']
a.remove('Apple')
print(a)

['Ball', 'CAT', 'Fish', 'Egg']

In [7]:
a = ['Apple', 'Ball','CAT','Fish','Egg','Apple']
a.remove('Apple')
a.remove('Apple')
print(a)

['Ball', 'CAT', 'Fish', 'Egg']

In [6]:
a = ['apple', 'Ball','CAT','Fish','Egg','apple']
c = a.count('apple')
for i in range(c):
    a.remove('apple')
    print(a)

['Ball', 'CAT', 'Fish', 'Egg', 'apple']
['Ball', 'CAT', 'Fish', 'Egg']

In [9]:
a = ['apple', 'Ball','CAT','Fish','Egg','apple']
b=a.pop(0)
print(a)
print(b)

['Ball', 'CAT', 'Fish', 'Egg', 'apple']
apple

In [10]:
#list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a[0])
print(a[0][0])

[1, 2, 3]
1

In [11]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, Lalitpur'],
     ['Hari',89,'Bhaktapur']]
print(a)

[['Ram', 45, 'Kathmandu'], ['Shyam', 56, 'Lalitpur'], ['Hari', 89, 'Bhaktapur']]

In [12]:
a = []
n =int(input("Enter the value n ="))
for i in range(n):
    name = input("Enter Name =")
    age = int(input("Enter Age ="))
    add = input("Enter add =")
    info = [name,age, add]
    a.append(info)
print(a)

Enter the value n =2
Enter Name =Ram
Enter Age =45
Enter add =Kathmandu
Enter Name =hari
Enter Age =40
Enter add =lalitpur
[['Ram', 45, 'Kathmandu'], ['hari', 40, 'lalitpur']]

In [15]:
#Search

['Ram', 45, 'Kathmandu']
['hari', 40, 'lalitpur']
['shyam', 36, 'patan']
['Ram', 35, 'Bharatpur']

In [20]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
for i in a:
     print(i[0])

Ram
Shyam
Hari
Ram

In [24]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
n = input("Enter the name :")
for i in a:
    if i[0] == name:
        print(i)

Enter the name :Ram
['Ram', 45, 'Kathmandu']
['Ram', 35, 'Bharatpur']

In [26]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
name = input("Enter name =")
for i in a:
    if name in i:
        print(i)

Enter name =Ram
['Ram', 45, 'Kathmandu']
['Ram', 35, 'Bharatpur']

In [30]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
n = input("Enter the name = ")
for i in a:
    if i[0].lower() == n.lower():
        print(i)
else:
        print("There is no record")

Enter the name = Rishav
There is no such name

In [29]:
#adding Data to list

a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
a.append(['Nabin',67,'Chitwan'])
print(a)

[['Ram', 45, 'Kathmandu'], ['Shyam', 56, 'Lalitpur'], ['Hari', 89, 'Bhaktapur'], ['Ram', 35, 'Bharatpur'], ['Nabin', 67, 'Chitwan']]

In [31]:
c = 0
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
n = input("Enter the name = ")
for i in a:
    if i[0].lower() == n.lower():
        print(i)
        c = c+1
print(f"There is {c} record")

Enter the name = Shyam
['Shyam', 56, 'Lalitpur']
There is 1 record

In [37]:
# update
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
a[0][0] = "Ram Prasad"
print(a)

[['Ram Prasad', 45, 'Kathmandu'], ['Shyam', 56, 'Lalitpur'], ['Hari', 89, 'Bhaktapur'], ['Ram', 35, 'Bharatpur']]

In [39]:
#Delete
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam',56, 'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
     ['Ram', 35, 'Bharatpur']]
del a[0]
print(a)

[['Shyam', 56, 'Lalitpur'], ['Hari', 89, 'Bhaktapur'], ['Ram', 35, 'Bharatpur']]

In [ ]:
# WAP to create a matrix having n no.of rows and column