In [1]:
#Tuple
#- Indexing
#-Ordered
#-Multiple and duplicate
# Imutable

In [2]:
a = (1,2,3)
b =  ('apple','ball','cat')
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
a =(1,)
print(type(a))

<class 'tuple'>

In [4]:
# Defining Empty tuple
a = tuple()

In [7]:
b = ('apple','ball','cat','dog',1,2,3,4,5)
print(b[0])
print(b[0:5])
print(b[0:8:2])

apple
('apple', 'ball', 'cat', 'dog', 1)
('apple', 'cat', 1, 3)

In [8]:
# min max and sum function used under tuple function

In [13]:
a = (485, 2,75,100,500,230)
print(max(a))
print(min(a))
print(sum(a))

500
2
1392

In [14]:
b = ('apple','ball','cat','dog',1,2,3,4,5,5) #duplicate data can be hold
print(b)

('apple', 'ball', 'cat', 'dog', 1, 2, 3, 4, 5, 5)

In [15]:
#imutable (it doesn't change- to work in static data type tuple is used)
#no create- append, insert
# no delete, remove, pop
# no update,sort

In [16]:
a = (1,2,3,4,5)
b = (6,7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [17]:
a = ()
b = (1,)
a = a+b
print(a)

(1,)

In [18]:
t = ()
n = int(input("Enter value of n ="))
for i in range(n):
    x = input("Enter X =")
    t = t +(x,)
print (t)

Enter value of n =2
Enter X =ygjhggbjhg
Enter X =hjhbb
('ygjhggbjhg', 'hjhbb')

In [20]:
a = (788,78945, 4587, 58746, 789322)
b = list(a)
print(b)
print(type(b))

[788, 78945, 4587, 58746, 789322]
<class 'list'>

In [22]:
a = (788,78945, 4587, 58746, 789322)
b = list(a)
del (b[0])
print(b)

[78945, 4587, 58746, 789322]

In [24]:
a = (788,78945, 4587, 58746, 789322)
b = list(a)
del (b[0])
a= tuple(b)
print(a)
print(type(a))

(78945, 4587, 58746, 789322)
<class 'tuple'>

In [25]:
# tuple inside tuple
a = ((1,2,3),
    (4,5,6),
    (7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [29]:
info = ()
n = int(input("Enter the value of N ="))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = info + ((name,age,add),)
print(info)
print(type(info))

KeyboardInterrupt: Interrupted by user

In [31]:
a = (('lonima', 37, 'Baluwatar'), ('Rishav', 35, 'Chakrapath'))
for i in a:
    print(a)

(('lonima', 37, 'Baluwatar'), ('Rishav', 35, 'Chakrapath'))
(('lonima', 37, 'Baluwatar'), ('Rishav', 35, 'Chakrapath'))

In [32]:
l = []
a = (('lonima', 37, 'Baluwatar'), ('Rishav', 35, 'Chakrapath'))
for i in a:
    l.append(list(i))
    print(l)

[['lonima', 37, 'Baluwatar']]
[['lonima', 37, 'Baluwatar'], ['Rishav', 35, 'Chakrapath']]

In [33]:
# Original list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Converting to tuple inside tuple
nested_tuple = tuple(tuple(sublist) for sublist in nested_list)

# Printing the result
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [34]:
#Set
#-No Indexing
# -Multiple but no duplicate data
# Unordered
# -Mutable

In [35]:
s ={1,2,3}
print(type(s))

<class 'set'>

In [37]:
s ={'Ball','Cat','Dog','Fish','Apple'}
print(s)

{'Dog', 'Fish', 'Cat', 'Ball', 'Apple'}

In [38]:
s = {5,3,4,8,9,6,2,7,1}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
#set dosen't support duplicate
s ={'Ball','Cat','Dog','Fish','Apple','Ball','Cat'}
print(s)

{'Dog', 'Fish', 'Cat', 'Ball', 'Apple'}

In [40]:
# add(), remove(),update(),discard()
s ={'Ball','Cat','Dog','Fish','Apple','Ball','Cat'}
for i in s:
    print(i)

Dog
Fish
Cat
Ball
Apple

In [42]:
#add
s= {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [43]:
#Update
s = {1,2,3,4}
a = {5,6,7}
s.update(a)
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [44]:
#remove
s = {1, 2, 3, 4, 5, 6, 7}
s.remove(2)
print(s)

{1, 3, 4, 5, 6, 7}

In [49]:
u = {'Lonima','Rishav','Ram', 'Sabin', 'Bill', 'John', 'Nabin', 'Satya', 'Steve', 'Mike', 'Gates', 'Akash', 'Jobs', 'William'}
apple= {'Ram','Jobs','Steve','John','Sabin','Akash', 'Mike'}
ms = {'Satya','Bill', 'Gates', 'William','Mike','Nabin','Ram'}
i = apple.intersection(ms)
print(i)
un=apple.union(ms)
print(un)
print(apple-ms) #only unique variable of apple will be printed
print(ms-apple)
print(u-un) #only difference of Universal set minus the union set will be printed

{'Ram', 'Mike'}
{'Ram', 'Sabin', 'Bill', 'John', 'Nabin', 'Satya', 'Steve', 'Mike', 'Gates', 'Akash', 'Jobs', 'William'}
{'Sabin', 'John', 'Steve', 'Akash', 'Jobs'}
{'Bill', 'Nabin', 'Satya', 'Gates', 'William'}
{'Lonima', 'Rishav'}

In [50]:
# only imutable inside set
#set cannot have list inside it
s = { [1,2,3],[4,5,6]}
print(s)

TypeError: unhashable type: 'list'

In [51]:
#no dictionary inside set
#s = {{1:2, 5:10}}
#no set inside set
s = {{1,2,3}}
print(s)

TypeError: unhashable type: 'set'

In [ ]:
#write a program to create,read,update and delete dictionary inside dictionary